# Put sensitive stuff in here that you don't want showing up on your github
apiVersion: v1
kind: ConfigMap
metadata:
  name: pihole-custom
  namespace: pihole-test
data:
  custom.list: |
    10.0.1.1 router.example.com
    10.0.1.2 xbox.example.com
    10.0.1.3 nas.example.com
    10.0.1.4 desktop-pc.example.com